h1{
  text-align: center;
  color: green;
  font-family: 'Kaushan Script', cursive;
  margin-top: -70px;
}
.input{
  padding:10px;
  text-align: center;
  background-color: pink;
  border: 1px solid pink;
  width: 30%;
  border-radius: 0px 0px 8px 8px;
}
marquee img{
  padding: 40px;
}
.copy{
  font-size:1.5em;
  text-align: center;
}
h2{
  text-align: center;
}
.text{
  float:right;
  margin-top: -260px;
  font-size: 1.4em;
  font-family: 'Courgette', cursive;
  border: 1px solid grey;
  background-color: grey;
  padding: 10px;
  color:white;
  border-radius: 9px 9px 9px 9px;
  box-shadow: 4px 2px 3px blue;
  box-decoration-break: blink;
}
fieldset{
  border-radius: 8px 8px 8px 8px;
}
.check{
  background-color:#9dd619;
}
